/* CSS declarations go here */

body {
    font-family: Exo;
    font-size: 1em;
    font-weight: 400;
    padding: 10px;
}

.frame {
    border: 1px solid #555;
    padding: 10px;
    width: 200px;
    display: inline-table;
}

select, option {
    font-family: Exo;
    font-size: 1em;
    font-weight: 400;
    width: 200px;
    padding: 5px;
    display: block;
    -webkit-appearance: inherit;
}

.selection {
    width: 94%;
    height: 32px;
    padding: 10px 5px 0px 5px;
    border: 1px solid #7a7a7a;
    display: block;
    background: #195b75;
    color: #fff;
}

.label {
    margin-top: 20px;
    display: block;
}